.background {
  background-color: #f4ecdd;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav_container {
  background-color: #091CC8;
  width: 100%;
  height: 4em;
}

.nav_item{
  width: 2em;
  color: white;
  font-size: 20px;
  line-height: 60px;
  margin-left: 20px;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
}

nav .nav_item:hover {
  color: violet;
  height: 100%;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}

.description {
  text-align: center;
  font-size: 18px;
  width: 75%;
  margin-bottom: 20px;
}

.aboutus {
  text-align: center;
  font-size: 36px;
  width: 75%;
  margin-bottom: 20px;
}

.table_row{
  text-align: center;
}

.product_image {
  width: 336px;
  height: 336px;
  object-fit: cover;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 10px;
}

.contact_page{
overflow: hidden;
width: 100%;
padding-top: 20px;
padding-left: 20px;
}

.location_image{
  float: left;
  width: 800px;
}
.location_image img{
  width: 100%;
  height: auto;
}

.contact_details{ 
  margin-left: 850px;
  padding-top: 50px;
}

.Adress{
  font-size: 32px;
  margin-bottom: 30px;
}
.payment p{
  font-size: 32px;
  margin-bottom: 30px;
}
