@font-face {
	font-family: 'MyriadPro';
	src: url('https://github.com/ZoeteBaksel/-ZOETE_BAKSEL_CONFIG-/blob/master/myriad-pro/MYRIADPRO-REGULAR.OTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('https://github.com/ZoeteBaksel/-ZOETE_BAKSEL_CONFIG-/blob/master/myriad-pro/MYRIADPRO-BOLD.OTF');
	font-weight: bolder;
	font-style:normal ;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('https://github.com/ZoeteBaksel/-ZOETE_BAKSEL_CONFIG-/blob/master/myriad-pro/MYRIADPRO-SEMIBOLD.OTF');
	font-weight: bold;
	font-style: normal;
}

.background {
  background-color: #FEE9D6;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav_container {
  background-color: #091CC8;
  width: 100vw;
  height: 4em;
}

.nav_item{
  width: 2em;
  color: white;
  font-size: 1.25em;
  line-height: 3.75em;
  margin-left: 1.25em;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
}

nav .nav_item:hover {
  color: violet;
  height: 100%;
  cursor: pointer;
}

.logo{
  width: 500px;
}

.centerImg {
  display: flex;
  justify-content: center;
  background-color: #E9C6B0;
}

.center {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}

.description {
  text-align: center;
  font-family: 'MyriadProBold';
  font-size: 18px;
  width: 75%;
  margin-bottom: 20px;
}

.homePage {
  text-align: center;
  font-family:  'MyriadPro';
  font-size: 32px;
  width: 75%;
  margin-bottom: 20px;
  max-width:100%;
}

.aboutus {
  text-align: center;
  font-family:  'MyriadPro';
  font-size: 32px;
  width: 75%;
  margin-bottom: 20px;
}

.table_row{
  text-align: center;
}

.product_image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 10px;
}

.contact_page{
overflow: hidden;
width: 100%;
padding-top: 20px;
padding-left: 20px;
}

.fontMyriadProBold{
  font-family: 'MyriadProBold';
}

.fontMyriadPro{
  font-family: 'MyriadPro';
}

.contact_details{ 
  margin-left: 850px;
  padding-top: 50px;
}

.Adress{
  font-size: 32px;
  margin-bottom: 30px;
}
.payment p{
  font-size: 32px;
  margin-bottom: 30px;
}

.bold{
  font-weight: bold;
}

.padding20{
  padding-left: 20px;
}

.listStyle{
  list-style-position: inside;
  padding-left: 50px;
}

.cakeTable tr td {
  font-family: 'MyriadPro';
}

.cakeTable{
  padding-left: 35px;
  padding-top: 20px;
}

.wave {
  --size: 10px;
  --m: 0.95;
  --p: calc(var(--m)*var(--size));
  --R: calc(var(--size)*sqrt(var(--m)*var(--m) + 1));

  mask:
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #000 99%, #0000 101%)
      calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, #000 101%) 
      50% calc(100% - var(--size)) / calc(4 * var(--size)) 100% repeat-x;
  background: #E9C6B0;
  height: 15px;
}
